#spRange {
    margin-left: 200px;
}

#innum {
    width: 60px;
}

.myBody {
  border: 2px solid black;
  width: 100px;
}

.myWindow {
  border: 2px solid darkblue;
  width: 20px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 15px;
  display: inline-block;
}

.myDoor {
  border: 2px solid red;
  width: 25px;
  height: 40px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -4px;
  display: inline-block;
}

.triangle-up {
    position: relative;
    margin-top: auto;
    margin-bottom: -38px;
    margin-left: 15px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 32px;
    height: 32px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
